body {
    font-family: Tahoma;
}

.site-padding {
    padding: 0 5%;
}

@media (min-width: 1200px) {
    .site-padding {
        padding: 0 10%;
    }
}

.header {
    margin-bottom: 20px;
}

.header-menu {
    background-color: #000000;
}

.header-menu a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
}

.header-menu a:hover {
    background-color: #6d6d6d;
}

.header-content {
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    text-align: center;
}

.menu {
    border: 1px solid #dddddd;
}

.menu .nav-link {
    color: #525252;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    border-radius: 0;
}

.menu .nav-link.disabled {
    color: #6b6969;
    font-size: 20px;
}

.menu > li > .nav-link:hover {
    color: #000000;
    /*  background-color: #e20074;*/
}

.menu .nav-link.active {
    color: #ffffff;
    background-color: #e20074;
}

.subMenu .nav-link {
    color: #555454;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
}

.subMenu .nav-link:hover {
    color: #000000;
    font-weight: 600;
}

.subMenu .nav-link.active {
    font-weight: 600;
    text-decoration: underline;
    background-color: transparent;
    color: #525252;

}

.products-content {
    padding: 25px;
    border: 1px solid #dddddd;
}

.filter .btn-primary {
    background-color: #e20074;
    color: #ffffff;
}

.filter .btn:hover {
    background-color: #6d6d6d;
}

.products .col {
    flex-grow: 0;
}

.card {
    width: 150px;
    height: 330px;
    border: none;
    margin-bottom: 30px;
}

.card a:hover {
    outline: 1px solid #d8d8d8;
    text-decoration: none;
}

.card-body {
    padding: 0.5rem 0.25rem;
}

.card-title {
    height: 40px;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    color: #646464;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
}

html, body {
    height: 100%;
    font-family: Montserrat, sans-serif;
}

.site-padding {
    padding: 0 5%;
}

@media (min-width: 1200px) {
    .site-padding {
        padding: 0 10%;
    }
}

.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.site-content {
    flex: 1;
}

.content {
    padding: 25px;
    border: 1px solid #dddddd;
}

.error {
    color: red;
}

.confirm {
    color: green;
}

/*header*/

.header {
    margin-bottom: 20px;
}

.header-menu {
    background-color: #424242;
}

.header-menu a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
}

.header-menu a:hover {
    background-color: #6d6d6d;
}

.header-menu .active {
    background-color: #6d6d6d;
}

.header-content {
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    text-align: center;
}

.header-content .cart {
    text-align: center;
}

.header-content .cart a {
    position: relative;
}

.header-content .cart i {
    color: #e20074;
    font-size: 20px;
}

.header-content .cart .badge {
    background-color: #015699;
}



/*catalog*/

.filter .btn-primary:hover {
    background-color: #e83e8c;
}

.product-list .col {
    flex-grow: 0;
}

.card {
    width: 150px;
    height: 200px;
    border: none;
    margin-bottom: 30px;
}

.card a:hover {
    outline: 1px solid #d8d8d8;
    text-decoration: none;
}

.card-body {
    padding: 0.5rem 0.25rem;
}

.card-title {
    height: 40px;
  /*  overflow: hidden;*/
    text-overflow: ellipsis;
    color: #646464;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
}

.card-text {
    color: #f05356;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

/*product*/

.product-photo {
}

.description {
    color: #7e7e7e;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.product-info h2 {
    color: #595959;
    font-size: 40px;
    font-weight: 300;
    text-align: left;
}

.product-info .price-buy {
    margin: 20px 0 0 0;
    padding: 25px;
    outline: 1px solid #7e7e7e;;
}

.price-buy .price {
    color: #015699;
    font-size: 26px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
}

.price-buy .button {
    text-align: center;
}

.price-buy span {
    color: #e45757;
    font-size: 28px;
    font-weight: 700;
}

.price-buy button {
    background-color: #e20074;
    color: #ffffff;
    border: 0;
    font-size: 20px;
    padding: 15px 30px;
}

.price-buy button:hover {
    background-color: #a2a2a2;
}

/*cart*/

.cart-products table {
    text-align: center;
}

.cart-products .thead-dark th {
    background-color: #e20074;
    border: none;
}

.cart-products table .title {
    text-align: left;
}

.catalogue{
    overflow-y: scroll !important;
}

.orderbutton{
    background-color: #e20074;
    border-color: #e20074;
}
.orderbutton:hover, .orderbutton:active{
    background-color: #e83e8c;
    border-color: #e83e8c;
}

table{
    font-size: 12px;
}